.game-button {
  background: linear-gradient(145deg, rgb(33, 146, 60), rgb(20, 112, 43)); 
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8vw 3vh;
  border: 2px solid rgb(9, 61, 15);
  border-radius: 10px;
}

.game-button:hover {
  background: linear-gradient(145deg, rgb(40, 175, 69), rgb(22, 111, 43));
  transform: translateY(-2px);
  cursor: pointer;
}
