.bet-container{
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.95rem;

    width: 30vw;
    padding: 1vw 3vh;
    background: rgba(0, 0, 0, 0.85);
    border: 3px solid gold;
    border-radius: 20px;

    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.total-money{
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
                 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;  
}

.total-money span{
    color: gold;
}

.bet-input{
    font-weight: bold;
    font-size: 1rem;
    width: 50%;
    color: white;
    text-align: center;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    outline: none;
    border-radius: 10px;
}

.bet-input:focus{
    border: 2px solid gold;
    animation: blink 4s infinite linear;
}

.bet-input::-webkit-outer-spin-button,
.bet-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes blink{
    0%{
        border-color: gold;
    }
    25%{
        border-color: black;
    }
    50%{
        border-color: gold;
    }
    75%{
        border-color: black;
    }
    100%{
        border-color: gold;
    }
}

.place-bet-btn{
    background: linear-gradient(145deg, rgb(33, 146, 60), rgb(20, 112, 43)); 
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5vw 1vh;
    border: 2px solid rgb(9, 61, 15);
    border-radius: 12px;
}

.place-bet-btn:hover{
    background: linear-gradient(145deg, rgb(40, 175, 69), rgb(22, 111, 43));
    cursor: pointer;
    transform: translateY(-2px);
}

.loser-btn{
    background: linear-gradient(145deg, rgb(154, 57, 33), rgb(145, 47, 17)); 
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5vw 1vh;
    border: 2px solid rgb(61, 23, 9);
    border-radius: 12px;
}

.loser-btn:hover{
    background: linear-gradient(145deg, rgb(157, 70, 36), rgb(124, 40, 14)); 
    cursor: pointer;
    transform: translateY(-2px);
}