.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.2rem;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}



.card-image{
    width: 4rem;
}