.items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.icon-container{
    transform: translateY(3vh);
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    min-height: 130px;
    transform: translateY(-3vh);
}