.table-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    position: relative;
}

.table-image{
    width: 70%;
    display: block;
}

.table-overlay {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 5rem;

    z-index: 2;
}

.dealer-icon-container{
    position: absolute;
    top: 1%;
    left: 44%;
}

.player-icon-container{
    position: absolute;
    top: 79%;
    left: 44%;
}

.player-cards{
    position: absolute;
    top: 50%;
    left: 28%;

    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}