.table-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    position: relative;
}

.table-image{
    width: 80%;
    display: block;
}

.table-overlay {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 5rem;

    z-index: 2;
}

.dealer-icon-container{
    position: absolute;
    top: 5%;
    left: 46%;
    transform: translate(-50%, -100%);
}

.player-icon-container{
    position: absolute;
    top: 76%;
    left: 46%;
    transform: translate(50%, 100%);
}